<style>
/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #dddbdb;
  color: #424242;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #dddbdb transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.applaud{
    float: left;
    height: 40px;
    width: 50px;
    font-size: 40px
}
.applaud-count{
    float: left;
    height: 40px;
    width: 50px;
}
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
// When the user clicks on div, open the popup
function myFunction() {
  var popup = document.getElementById("myPopup");
  popup.classList.toggle("show");
}

$.ajax({
    url : '{{ site.github.url }}/medium/{{ page.applaud-link }}',
    type : 'GET',
    dataType:'json',
    success : function(data) {
        $( "#page-link" ).attr('href',data["link"]);
        $( "#applaud-count" ).html( data["claps"]);
    },
    error : function(request,error)
    {
        $( "#page-link" ).attr('href',"");
    }
});
</script>

<div class="popup" onclick="myFunction()">
    <div>
    <div class="applaud">👏</div>
    <div id="applaud-count" class="applaud-count">0</div>
    </div>
    <span class="popuptext" id="myPopup"><div><a id="page-link" target="_blank">Applaud on medium</a></div></span>
</div>
<br/>
<br/>