<style>
.twitter-follow-btn {
background-color:#47a3ff;
border-radius:6px;
border:1px solid #84bbf3;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:14px;
font-weight:bold;
padding:0px 10px;
text-decoration:none;
}
.twitter-follow-btn:hover {
background-color:#378de5;
color:#ffffff;
}

</style>
<div class="post-date"><h2>{{ site.data.settings.sharing_button_prompt }}</h2></div>

<div class="sharing-icons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter" style="color: #00aced;" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-facebook" style="color:#3d5b99;"aria-hidden="true"></i></a>
    <br/>
    <br/>
    Follow me on Twitter <a href="https://twitter.com/amrutprabhu42" class="twitter-follow-btn" target="_blank">@amrutprabhu42</a>
  </div>
</div>
