<div class="post-date" xmlns="http://www.w3.org/1999/html"><h2>{{ site.data.settings.sharing_button_prompt }}</h2></div>

<div class="sharing-icons">
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url={{ site.github.url }}{{ page.url }}" target="_blank"><i class="fa fa-twitter" style="color: #00aced;" aria-hidden="true"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.github.url }}{{ page.url }}&amp;title={{ page.title }}" target="_blank"><i class="fa fa-facebook" style="color:#3d5b99;"aria-hidden="true"></i></a>
    <br/>
    <br/>
    Follow me on Twitter <a href="https://twitter.com/{{ site.twitter_handle }}" class="twitter-follow-btn" target="_blank">@{{ site.twitter_handle }}</a> to learn more about how to become a better software developer.
    <br/>
    <br/>
    If you like my writing you can always buy me a coffee.😊️
    <br/>
    <br/>
    <a target="_blank" href="https://www.buymeacoffee.com/amrutprabhu"><img src="{{ site.github.url }}/assets/img/buy-me-coffee.png"></a>
  </div>
</div>
