<!-- Twitter cards -->
<meta name="twitter:creator" content="@{{ site.twitter_handle }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
<meta name="twitter:description" content="{{ page.content | strip_html | truncate: 200  }}">
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<!--<meta name="twitter:image" content="{{ site.url }}/assets/img/{{ page.image }}">-->
<meta name="twitter:image" content="https://blog.twitter.com/content/dam/blog-twitter/official/universal-assets/Generic_BlogShare.jpg.twimg.768.jpg">
{% endif %}

<meta property="og:description" content="{{ page.content | strip_html | truncate: 200  }}">
<meta property="og:site_name" content="refactorfirst.com">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:image" content="{{ site.url }}/assets/img/{{ page.image }}">
<!-- end of Twitter cards -->