<!-- Twitter cards -->
<meta name="twitter:creator" content="@{{ site.twitter_handle }}">
<meta name="twitter:title"   content="{{ page.title }}">

{% if page.summary %}
<meta name="twitter:description" content="{{ page.summary }}">
{% else %}
    {% if page.content %}
<meta name="twitter:description" content="{{ page.content | strip_html | truncate: 200  }}">
    {% endif %}
{% endif %}

{% if page.image %}
<meta name="twitter:card"  content="summary_large_image">
<meta name="twitter:image:src" content="{{ site.url }}/assets/img/{{ page.image }}">
{% else %}
<meta name="twitter:image:src" content="{{ site.github.url }}/favicon-32x32.png">
{% endif %}

<meta property="og:description" content="{{ page.content | strip_html | truncate: 200  }}">
<meta property="og:site_name" content="refactorfirst.com">
<meta property="og:title" content="{{ page.title }}">
<meta property="og:type" content="article">
<!-- end of Twitter cards -->