---
layout: default
---

<h1 style="line-height:1.1;">
  {{ page.title }}
</h1>
<hr/>
<p>
<div class="post-date" style="line-height:1.4em;" >
    <div class="author-small-profile">
      <img src="{{ site.github.url }}/assets/img/avatar.jpg"/>
    </div>
    <div>
      {% if page.author %}
        {{ page.author }}
      {% else %}
        {{ site.author }}
      {% endif %}
    </div>
    <div >
      {{ site.data.settings.post_date_prefix }}
      {% assign d = page.date | date: "%-d"  %}
      {{ page.date | date: "%B" }}
      {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}st
        {% when '2' or '22' %}{{ d }}nd
        {% when '3' or '23' %}{{ d }}rd
        {% else %}{{ d }}th{% endcase %},
      {{ page.date | date: "%Y" }}
      - {% include read-time.html %}
    </div>
</div>
</p>
<br/>
{% if page.image %}
  <img src="{{ site.github.url }}/assets/img/{{ page.image }}">
{% endif %}

{{ content }}



{% include social-sharing.html %}

{% include related-posts.html %}

{% if site.data.settings.disqus.comments %}
  {% include disqus.html %}
{% endif %}
